.vitrine-categoria {
    display: flex;
    justify-content: center;
    gap: 42px;
    margin-top: 39px;
}

@keyframes aparecer {
    from { 
        opacity: 0; 
        transform: translateY(20px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}


.card-vitrine-item {  
    animation: aparecer 0.6s ease-out forwards;
    animation-delay: calc(var(--index, 0) * .2s); 
    opacity: 0; 
}