@import "../../variables";

.marca {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 200px;
  background-color: $color-white;
  border-radius: 50%;
  box-shadow: 0 1px 19px rgba(0, 0, 0, 0.1);

  img {
    width: 120px;
    height: auto;
    display: block;
  }
}
