@import '../../_variables.scss';

.banner-black-friday {
  position: relative;
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 390px;
    display: block;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;

    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.4) 40%,
      rgba(0, 0, 0, 0) 70%
    );

    pointer-events: none;
  }

  .content {
    display: flex; 
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 54%;
    left: 23%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;

    h1 {
        text-align: left;
        font-size: 3rem;
        margin-bottom: 0.5rem;
        font-weight: 600;
        line-height: 100%;
        font-style: bold;
    }
    
    h2 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 100%;
        margin-top: 1rem;

        span {
            color: $color-yellow-F7CA11;
            font-weight: bold;
        }
    }

    .btn-produto {
      background-color: $color-yellow-F7CA11;
      color: $color-black-000000;
      padding: 13px 54.5px;
      text-decoration: none;
      font-weight: 600;
      border-radius: 5px;
      margin-top: 60px;
      transition: .5s ease-in-out;
    }

    .btn-produto:hover {
      background-color: darken($color-yellow-F7CA11, 10%);
    }
  }
}
