header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    color: var(--color-gray-9F9F9F);
}

header ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 119px;
}

header ul li {
    display: flex;
    gap: 9px;
}

header ul li span {
    color: var(--color-blue-3019B2);
    font-weight: 600;
}