@import '../../variables.scss';

header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  color: $color-gray-9F9F9F;

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 119px;
    margin-top: 6px;
    border-bottom: 1px solid $color-gray-F0F0F0;
    padding-bottom: 6px;

    li {
      display: flex;
      align-items: center;
      gap: 9px;
      font-size: 12px;

      span {
        color: $color-blue-3019B2;
        font-weight: 600;
      }
    }
  }

  .sectionLogo {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    .pesquisa-wrapper {
      display: flex;
      align-items: center;
      background: $color-gray-F6F5F2;
      border-radius: 10px;
      padding: 8px 16px;
      max-width: 630px;
      width: 100%;

      .pesquisa-input {
        flex: 1;
        border: none;
        background: transparent;
        outline: none;
      }

      .pesquisa-button {
        background: transparent;
        border: none;
        cursor: pointer;
      }
    }

    ul {
      display: flex;
      gap: 32px;
      border-bottom: none;

      li button {
        background: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }

  nav {
    border-top: 1px solid $color-gray-F0F0F0;
    box-shadow: 2px 0 4px #3930131F;
    padding-top: 4px;

    ul {
      display: flex;

      li {
        .link {
          text-decoration: none;
          color: $color-gray-9F9F9F;

          &-ativo {
            color: $color-blue-3019B2;
            font-weight: 600;
          }

          figure {
            display: flex;
            gap: 12px;
          }
        }
      }
    }
  }
}