header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    color: var(--color-gray-9F9F9F);
}

header ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 119px;
    margin-top: 6px;
    border-bottom: 1px solid var(--color-gray-F0F0F0);
    padding-bottom: 6px;
}

header ul li {
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 12px;
}

header ul li span {
    color: var(--color-blue-3019B2);
    font-weight: 600;
}

/* Section Logo */
.sectionLogo {
    display: flex;
    justify-content: space-between;
    margin: 20px 0; 
}

.sectionLogo .pesquisa-wrapper {
  display: flex;
  align-items: center;
  background: var(--color-gray-F6F5F2);
  border-radius: 10px;
  padding: 8px 16px;
  width: 100%;
  max-width: 630px;
}

.sectionLogo .pesquisa-input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
  color: var(--color-gray-9F9F9F);
}

.sectionLogo .pesquisa-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.sectionLogo ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
    border-bottom: none;
}

.sectionLogo ul li button {
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Navigation */

nav {
    border-top: 1px solid var(--color-gray-F0F0F0);
    box-shadow: 2px 0 4px #3930131F;
    font-size: 12px;
    padding-top: 4px;
}

nav ul {
    display: flex;
    border-bottom: none;
}

nav ul li {
    display: flex;
}

nav ul li .link {
    font-size: 12px;
    border-bottom: none;
    color: var(--color-gray-9F9F9F);
    text-decoration: none;
}

nav ul li .link figure {
    display: flex;
    gap: 12px;
}

nav ul li .link-ativo {
    color: var(--color-blue-3019B2);
    font-weight: 600;
}