@import '../../_variables.scss';

.container-titulo-azul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .titulo-azul {
        display: flex;
        align-items: center;
        gap: 34px;

        h3 {
            font-weight: 700;
            font-size: 30px;
            color: $color-blue-3442B5;
        }

        .linha {
            width: 360px;
            height: 1px;
            margin-top: -10px;
            background-color: $color-gray-DEDEDE;
        }

    }

    .link-ver-todos {
        font-weight: 700;
        font-size: 15px;
        color: $color-black-3F3F40;
        text-decoration: none;
    }

    .link-ver-todos:hover {
        text-decoration: underline;
    }
}