@import "../../variables.scss";

.produtos-relacionados {
  margin-top: 90px;

  .tags-container {
    margin-top: 4px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    .ver-todos {
      background-color: $color-white;
      color: $color-gray-3B3B3B;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid $color-gray-BDBDBD;
      width: 214px;
      transition: .3s ease-in-out;
      padding: 3.2px 0;
      text-decoration: none;
      text-align: center;
    }
  }

  .conteudo-dinamico {
    margin-top: 28px;
  }

  .carrossel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .carrossel-track {
    display: flex;
    transition: transform .45s ease;
  }

  .carrossel-slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
    gap: 18px;
  }

  .carrossel-btn {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 2;

    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    font-size: 22px;
    background: $color-white;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
  }

  .anterior {
    left: 50px;
  }

  .proximo {
    right: 50px;
  }
}
