@import "../../variables.scss";

.produtos-relacionados {
    margin-top: 90px;

    .tags-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .ver-todos {
            background-color: $color-white;
            color: $color-gray-3B3B3B;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid $color-gray-BDBDBD;
            width: 214px;
            transition: .3s ease-in-out;
            padding: 3px 0;
            text-decoration: none;
            text-align: center;
        }
    }
}