// Colors
// Blue
$color-blue-3019B2: #3019B2;

// Gray
$color-gray-9F9F9F: #9F9F9F;
$color-gray-F0F0F0: #F0F0F0;
$color-gray-F6F5F2: #F6F5F2;

// White
$color-white: #FFFFFF;

// Fonts
$font-poppins: 'Poppins', sans-serif;