// Colors
// Blue
$color-blue-3019B2: #3019B2;
$color-blue-3442B5: #3442B5;

// Gray
$color-gray-9F9F9F: #9F9F9F;
$color-gray-F0F0F0: #F0F0F0;
$color-gray-F6F5F2: #F6F5F2;
$color-gray-F4F4F4: #F4F4F4;
$color-gray-DEDEDE: #DEDEDE;
$color-gray-BDBDBD: #BDBDBD;
$color-gray-3B3B3B: #3B3B3B;

// White
$color-white: #FFFFFF;

// Black
$color-black-000000: #000000;
$color-black-4E4E4E: #4E4E4E;
$color-black-3F3F40: #3F3F40;

// Yellow
$color-yellow-F7CA11: #F7CA11;

// Fonts
$font-poppins: 'Poppins', sans-serif;