// Colors
// Blue
$color-blue-3019B2: #3019B2;

// Gray
$color-gray-9F9F9F: #9F9F9F;
$color-gray-F0F0F0: #F0F0F0;
$color-gray-F6F5F2: #F6F5F2;
$color-gray-F4F4F4: #F4F4F4;

// White
$color-white: #FFFFFF;

// Black
$color-black-000000: #000000;
$color-black-4E4E4E: #4E4E4E;

// Yellow
$color-yellow-F7CA11: #F7CA11;

// Fonts
$font-poppins: 'Poppins', sans-serif;