@import '../../variables.scss';

.card-parceiro {
  position: relative;
  width: 634px;
  height: 350px;
  border-radius: 16px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 16px;
    background: linear-gradient(
      135deg,
      rgba(0, 0, 0, .2) 40%,
      rgba(0, 0, 0, .1) 70%,
      rgba(0, 0, 0, 1) 100%,
    );
    pointer-events: none;
  }

  .content {
    width: 180px;
    position: absolute;
    top: 114px;
    left: 44px;
    color: $color-white;
    z-index: 1;

    h4 {
        font-weight: 700;
        font-size: 40px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        margin: 8px 0 32px 0;
    }

    .link-parceiro {
        display: flex;
        justify-content: center;
        padding: 12px 26px;
        font-weight: 700;
        font-size: 16px;
        text-decoration: none;
        color: $color-purple-271C47;
        background-color: $color-yellow-F7CA11;
        border-radius: 6px;
        transition: .5s ease-in-out;
    }

    .link-parceiro:hover {
        background-color: darken($color-yellow-F7CA11, 5%);
    }
  }
}
